<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Продажа картонной упаковки: коробки из картона любых размеров, гофротара, гофроящики, гофрокороба. Большой выбор, низкие цены.">
	<title>Картон, бумага, упаковка напрямую от производителя</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
	<link rel="icon" href="favicon.svg" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
<section class="main_page">
	<header>
		<div class="container flx">
			<div class="logo_box flx">
				<a href="/"><img src="../static/images/logo.svg" th:src="@{/images/logo.svg}"></a>
				<div class="slogan">Производство и реализация упаковочной продукции</div>
			</div>
			<div class="burger">
			  <span></span>
			</div>
			<div class="head_contact flx">
				<a href="https://wa.me/+79687054636" class="wa_link">
					<div class="whatsapp_box flx">
						<img src="images/whatsapp.svg" th:src="@{/images/whatsapp.svg}">
						<span>+ 7 (968) 705-46-36</span>
					</div>
				</a>
				</span>
				<span class="recall open_pop" data-id="manager">Перезвоните</span>
			</div>
		</div>
	</header>
	<nav class="menu">
		<div class="container flx">
			<ul>
				<li class="has_sub">
					Материалы
					<span class="sub_menu">
						<span class="sub_item"><a href="/categories/karton">Картон</a></span>
						<span class="sub_item"><a href="/product/Бумага">Бумага</a></span>
						<span class="sub_item has_under">
							<a href="/product/Переплетеные_материалы">Переплетные материалы</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product/Переплетеные_материалы/Кленкор">Коленкор</a></span>
								<span class="under_item"><a href="/product/Переплетеные_материалы/Бумвинил">Бумвинил</a></span>
								<span class="under_item"><a href="/product/Переплетеные_материалы/Картон_с_паралоном">Картон с паралоном</a></span>
							</span>
						</span>
					</span>
				</li>
				<li class="has_sub">
					Готовая продукция
					<span class="sub_menu">
						<span class="sub_item has_under">
							<a href="/product/Кондитерская_упаковка">Кондитерская упаковка</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product/Кондитерская_упаковка/134">Коробки для зефира</a></span>
								<span class="under_item"><a href="/product">Коробки для капкейков</a></span>
								<span class="under_item"><a href="/product">Коробки для печенья и пряников</a></span>
								<span class="under_item"><a href="/product">Коробки для тортов</a></span>
								<span class="under_item"><a href="/product">Коробки для конфет</a></span>
								<span class="under_item"><a href="/product">Коробки для макарон, кексов и конд. изделий</a></span>
								<span class="under_item"><a href="/product">Коробки для рулетов</a></span>
								<span class="under_item"><a href="/product">Коробки для шоколада</a></span>
								<span class="under_item"><a href="/product">Коробки для эклеров и пирожных</a></span>
								<span class="under_item"><a href="/product">Подложки</a></span>
							</span>
						</span>
						<span class="sub_item has_under">
							<a href="/catalog">Одноразовая посуда</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product">Тарелки</a></span>
							</span>
						</span>
						<span class="sub_item has_under">
							<a href="/catalog">Бумажные изделия</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product">Бумага обёрточная</a></span>
								<span class="under_item"><a href="/product">Пакеты бумажные с плоским дном с окном</a></span>
								<span class="under_item"><a href="/product">Пакеты под столовые приборы</a></span>
								<span class="under_item"><a href="/product">Пакеты с плоским дном без окна</a></span>
								<span class="under_item"><a href="/product">Пакеты с плоским дном для кур гриль (термопакеты) и жиросодержащих продуктов</a></span>
								<span class="under_item"><a href="/product">Уголки бумажные</a></span>
							</span>
						</span>
					</span>
				</li>
				<li class="has_sub">
					Изготовление на заказ
					<span class="sub_menu">
						<span class="sub_item"><a href="/product">Потребительская упаковка</a></span>
						<span class="sub_item"><a href="/product">Картонные разделительные решетки</a></span>
						<span class="sub_item has_under">
							<a href="/">Гофрокороба</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product">Четырехклапанные коробки</a></span>
								<span class="under_item"><a href="/product">Архивные короба</a></span>
								<span class="under_item"><a href="/product">Почтовые коробки</a></span>
								<span class="under_item"><a href="/product">Обувные коробки</a></span>
							</span>
						</span>
						<span class="sub_item"><a href="/product">Кондитерская упаковка</a></span>
					</span>
				</li>
				<li class="has_sub">
					Полиграфия
					<span class="sub_menu">
						<span class="sub_item"><a href="/product">Оперативная полиграфия</a></span>
						<span class="sub_item"><a href="/product">Рекламная полиграфия</a></span>
						<span class="sub_item"><a href="/product">Печать плейсметов</a></span>
						<span class="sub_item"><a href="/product">Офсетная печать</a></span>
						<span class="sub_item"><a href="/product">Трафаретная печать (шелкография)</a></span>
						<span class="sub_item"><a href="/product">Изготовление визиток</a></span>
					</span>
				</li>
			</ul>
		</div>
	</nav>
</section>
<section class="catalog_page">
	<div class="container">
		<h1 th:text="${category.name}"></h1>

		<div th:if="${!subcategories.isEmpty()}" class="catalog_list subcategor">
			<a
					th:each="s : ${subcategories}"
					th:href="@{/categories/{category}/{subcategory}(category = ${category.slug}, subcategory = ${s.slug})}"
			>
				<span class="cat_item" th:style="'background-image: url(${s.image})'">
					<p th:text="${s.name}"></p>

				</span>
			</a>
		</div>
		<div th:if="${subcategories.isEmpty()}" class="catalog_list products">
			<a
					th:each="p : ${products}"
					th:href="@{/products/{productSlug}(productSlug = ${p.slug})}"
					>
				<span class="cat_item" th:style="'background-image: url(' + ${p.filename} + ');'">
					<p th:text="${p.productName}"></p>
				</span>
			</a>
		</div>
	</div>
</section>
<footer>
	<div class="container flx">
		<div class="logo">
			<img src="../static/images/footer_logo.svg" alt="footer_logo">
			<p>Производство и реализация <br>упаковочной продукции</p>
		</div>
		<div class="footer_phones">
			<div class="item">
				<img src="../static/images/footer_whatsapp.svg" alt="whatsapp">
				<a href="https://wa.me/+79687054636">+ 7(968) 705-46-36</a>
			</div>
			<div class="item">
				<img src="../static/images/footer_phone.svg" alt="phone">
				<a href="tel:+7(962)373-78-78">+ 7(962) 373-78-78</a>
			</div>
		</div>
	</div>
</footer>
<div class="popup_box" id="manager">
	<div class="popup">
		<div class="close_popup"></div>
		<form>
			<h2>Форма связи с менеджером</h2>
			<p>Ваше имя: <span class="red">*</span></p>
			<input type="text" name="user_name" required>
			<p>Телефон: <span class="red">*</span></p>
			<input type="tel" name="user_phone" required>
			<p>Комментарий к заказу:</p>
			<textarea></textarea>
			<button class="btn">Отправить</button>
			<p class="grey">Отправляя данную форму, Вы соглашаетесь на обработку персональных данных</p>
		</form>
	</div>
</div>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>