<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Продажа картонной упаковки: коробки из картона любых размеров, гофротара, гофроящики, гофрокороба. Большой выбор, низкие цены.">
	<title>Картон, бумага, упаковка напрямую от производителя</title>
	<link rel="stylesheet" href="../static/css/style.css" >
	<link rel="shortcut icon" href="../static/favicon.svg" type="image/x-icon">
	<link rel="icon" href="../static/favicon.svg" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
<section class="main_page">
	<header>
		<div class="container flx">
			<div class="logo_box flx">
				<a href="/"><img src="../static/images/logo.svg"></a>
				<div class="slogan">Производство и реализация упаковочной продукции</div>
			</div>
			<div class="burger">
			  <span></span>
			</div>
			<div class="head_contact flx">
				<a href="https://wa.me/+79687054636" class="wa_link">
					<div class="whatsapp_box flx">
						<img src="../static/images/whatsapp.svg">
						<span>+ 7 (968) 705-46-36</span>
					</div>
				</a>
				</span>
				<span class="recall open_pop" data-id="manager">Перезвоните</span>
			</div>
		</div>
	</header>
	<nav class="menu">
		<div class="container flx">
			<ul>
				<li class="has_sub">
					Материалы
					<span class="sub_menu">
						<span class="sub_item"><a href="/categories/karton">Картон</a></span>
						<span class="sub_item"><a href="/product/Бумага">Бумага</a></span>
						<span class="sub_item has_under">
							<a href="/product/Переплетеные_материалы">Переплетные материалы</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product/Переплетеные_материалы/Кленкор">Коленкор</a></span>
								<span class="under_item"><a href="/product/Переплетеные_материалы/Бумвинил">Бумвинил</a></span>
								<span class="under_item"><a href="/product/Переплетеные_материалы/Картон_с_паралоном">Картон с паралоном</a></span>
							</span>
						</span>
					</span>
				</li>
				<li class="has_sub">
					Готовая продукция
					<span class="sub_menu">
						<span class="sub_item has_under">
							<a href="/product/Кондитерская_упаковка">Кондитерская упаковка</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product/Кондитерская_упаковка/Коробки_для_зефира">Коробки для зефира</a></span>
								<span class="under_item"><a href="/product">Коробки для капкейков</a></span>
								<span class="under_item"><a href="/product">Коробки для печенья и пряников</a></span>
								<span class="under_item"><a href="/product">Коробки для тортов</a></span>
								<span class="under_item"><a href="/product">Коробки для конфет</a></span>
								<span class="under_item"><a href="/product">Коробки для макарон, кексов и конд. изделий</a></span>
								<span class="under_item"><a href="/product">Коробки для рулетов</a></span>
								<span class="under_item"><a href="/product">Коробки для шоколада</a></span>
								<span class="under_item"><a href="/product">Коробки для эклеров и пирожных</a></span>
								<span class="under_item"><a href="/product">Подложки</a></span>
							</span>
						</span>
						<span class="sub_item has_under">
							<a href="/catalog">Одноразовая посуда</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product">Тарелки</a></span>
							</span>
						</span>
						<span class="sub_item has_under">
							<a href="/catalog">Бумажные изделия</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product">Бумага обёрточная</a></span>
								<span class="under_item"><a href="/product">Пакеты бумажные с плоским дном с окном</a></span>
								<span class="under_item"><a href="/product">Пакеты под столовые приборы</a></span>
								<span class="under_item"><a href="/product">Пакеты с плоским дном без окна</a></span>
								<span class="under_item"><a href="/product">Пакеты с плоским дном для кур гриль (термопакеты) и жиросодержащих продуктов</a></span>
								<span class="under_item"><a href="/product">Уголки бумажные</a></span>
							</span>
						</span>
					</span>
				</li>
				<li class="has_sub">
					Изготовление на заказ
					<span class="sub_menu">
						<span class="sub_item"><a href="/product">Потребительская упаковка</a></span>
						<span class="sub_item"><a href="/product">Картонные разделительные решетки</a></span>
						<span class="sub_item has_under">
							<a href="/">Гофрокороба</a>
							<span class="under_menu">
								<span class="under_item"><a href="/product">Четырехклапанные коробки</a></span>
								<span class="under_item"><a href="/product">Архивные короба</a></span>
								<span class="under_item"><a href="/product">Почтовые коробки</a></span>
								<span class="under_item"><a href="/product">Обувные коробки</a></span>
							</span>
						</span>
						<span class="sub_item"><a href="/product">Кондитерская упаковка</a></span>
					</span>
				</li>
				<li class="has_sub">
					Полиграфия
					<span class="sub_menu">
						<span class="sub_item"><a href="/product">Оперативная полиграфия</a></span>
						<span class="sub_item"><a href="/product">Рекламная полиграфия</a></span>
						<span class="sub_item"><a href="/product">Печать плейсметов</a></span>
						<span class="sub_item"><a href="/product">Офсетная печать</a></span>
						<span class="sub_item"><a href="/product">Трафаретная печать (шелкография)</a></span>
						<span class="sub_item"><a href="/product">Изготовление визиток</a></span>
					</span>
				</li>
			</ul>
		</div>
	</nav>
	<div class="first_screen" >
		<div id="scene">
			<div class="green_grad" data-depth="0.05"></div>
			<div class="boxes bgi" data-depth="0.15"></div>
		</div>
		<div class="container">
			<h1>КАРТОН, БУМАГА, УПАКОВКА <br>напрямую от производителя</h1>
			<p>Продажа картонной упаковки: коробки из картона любых размеров, <br> гофротара, гофроящики, гофрокороба. <b>Большой выбор, низкие цены.</b></p>
		</div>
	</div>
</section>
<section class="serv_sec">
	<div class="container">
		<h2>Наши <b>услуги</b></h2>
		<div class="serv_list">
			<div class="item open_pop" id="razmotka">Размотка и резка Картона/Бумаги</div>
			<div class="item open_pop" id="skleika">Склейка</div>
			<div class="item open_pop" id="virubka">Вырубка (высечка) Штанц-формой</div>
			<div class="item open_pop" id="upakovka">Изготовление упаковки</div>
			<div class="item open_pop" id="izdelia">Изделия сложной форсы</div>
			<div class="item open_pop" id="offset">Офсетная печать</div>
			<div class="item open_pop" id="kashirovka">Кашировка</div>
		</div>
	</div>
</section>
<section class="info_sec">
	<div class="container">
		<h2>Информация <b>о компании</b></h2>
		<div class="num_list flx">
			<div class="item">
				<div class="num">01</div>
				<h5>С нами выгодно работать</h5>
				<p>Осведомленность на рынке и понятие экономической обстановки в целом привело к большому количеству сотрудничающих с нами организаций и индивидуальных предпринимателей из различных сфер бизнеса.</p>
			</div>
			<div class="item">
				<div class="num">02</div>
				<h5>Партнерские отношения</h5>
				<p>Активная деятельность в данных направлениях проводится и постоянно совершенствуется с 2014 года.</p>
			</div>
			<div class="item">
				<div class="num">03</div>
				<h5>Территориальное расположение</h5>
				<p>Основные ресурсы и производственные мощности расположены в городе Москва и в западном районе Московской области.</p>
			</div>
		</div>
	</div>
</section>
<section class="usefull">
	<div class="container">
		<h2>Полезная <b>информация</b></h2>
		<div class="blog_slider">
			<div class="item">
				<div class="post_bg" style="background-image: url(../static/images/post_bg.jpg);">
					<h6>Заголовок в пару строк</h6>
				</div>
				<div class="post_text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="btn black">Подробнее</div>
				</div>
			</div>
			<div class="item">
				<div class="post_bg" style="background-image: url(../static/images/post_bg.jpg);">
					<h6>Заголовок в пару строк</h6>
				</div>
				<div class="post_text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="btn black">Подробнее</div>
				</div>
			</div>
			<div class="item">
				<div class="post_bg" style="background-image: url(../static/images/post_bg.jpg);">
					<h6>Заголовок в пару строк</h6>
				</div>
				<div class="post_text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="btn black">Подробнее</div>
				</div>
			</div>
			<div class="item">
				<div class="post_bg" style="background-image: url(../static/images/post_bg.jpg);">
					<h6>Заголовок в пару строк</h6>
				</div>
				<div class="post_text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="btn black">Подробнее</div>
				</div>
			</div>
			<div class="item">
				<div class="post_bg" style="background-image: url(../static/images/post_bg.jpg);">
					<h6>Заголовок в пару строк</h6>
				</div>
				<div class="post_text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="btn black">Подробнее</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="container flx">
		<div class="logo">
			<img src="../static/images/footer_logo.svg" alt="footer_logo">
			<p>Производство и реализация <br>упаковочной продукции</p>
		</div>
		<div class="footer_phones">
			<div class="item">
				<img src="../static/images/footer_whatsapp.svg" alt="whatsapp">
				<a href="https://wa.me/+79687054636">+ 7(968) 705-46-36</a>
			</div>
			<div class="item">
				<img src="../static/images/footer_phone.svg" alt="phone">
				<a href="tel:+7(962)373-78-78">+ 7(962) 373-78-78</a>
			</div>
		</div>
	</div>
</footer>
<div class="popup_box" id="manager">
	<div class="popup">
		<div class="close_popup"></div>
		<form>
			<h2>Форма связи с менеджером</h2>
			<p>Ваше имя: <span class="red">*</span></p>
			<input type="text" name="user_name" required>
			<p>Телефон: <span class="red">*</span></p>
			<input type="tel" name="user_phone" required>
			<p>Комментарий к заказу:</p>
			<textarea></textarea>
			<button class="btn">Отправить</button>
			<p class="grey">Отправляя данную форму, Вы соглашаетесь на обработку персональных данных</p>
		</form>
	</div>
</div>
<script src="/js/main.js"></script>
<script src="../static/js/jwt/news.js" ></script>
<script>
	var ww = $(window).width();
	if(ww > 1024){
		var scene = document.getElementById('scene');
		var parallaxInstance = new Parallax(scene);
	}
</script>
</body>
</html>